#myNav{
    background-color: #ee8c41;
}

#myNav a {
    color: #fff;
    font-weight: bold;
}

#foodButtons .cd-btn {

    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}


#foodButtons .cd-primary {
    color: #fff;
    background-color: #ee8c41;
    border-color: #ee8c41;
}

#foodButtons .cd-btn:hover {
    color: #fff;
    background-color: #e77a27;
    border-color: #e77a27;
    font-weight: bold;
}

#foodHeadings h5{
    color: #ee8c41;
    font-weight: bold;
}

hr {
    color: #ee8c41;
}

